#table {
    width: 100%;
    border-collapse: collapse;
}

.hd {
    text-align: center;
    background-color: #aed9e7;
}

#tdmenu {
    position: absolute;
    text-align: center;
    background-color: #f0e78d;
    height: 420px;
    width: 170px;
    float: left
}

#tdosnovanie {
    text-align: center;
    height: 420px;
    background-color: #ffffff;
    margin: 0;
    float: left;
    padding-left: 210px;
    background: url(movie.png) repeat-y;
    background-size: 100px;
    background-position: 100%;
}

#tdosnovanie img {
    float: left;
}

.fotter {
    text-align: center;
    background-color: #aed9e7;
}